.scaleable-wrapper-keyboard {
  padding: 0px;
}

.keyboard-cont {
    max-width: 600px;
  }
  
  .keyrow {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .keyboard-button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem !important;
    min-width: unset!important;
    margin: 4px;
    cursor: pointer;
    text-transform: uppercase;
    flex: 1;
  }

  .spacer-half {
    flex: 0.5;
  }

  .one-and-half {
    flex: 1.5;
  }