/* You can add global styles to this file, and also import other style files */
.confetti{
    position: absolute;
    top: 0;
    height: 100%; /* we need these for full-screen effect */
    width: 100%;
    z-index: 4000;
    pointer-events: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.my-snackbar{
    background-color: rgb(224, 224, 224);
    color:rgb(49, 49, 49);
  }